table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    height: 30px;
    overflow: auto;
}

tr:nth-child(even) {
    background-color: #ededed;
}